* {
  font-family: monospace;
}
.container {
  display: grid;
  border: black 1px solid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: .15fr 1fr;
  z-index: 0;
}  
.board {
    display: none;
    height: 500px;
    width: 500px;
    grid-area: 2 / 2 / 3 / 3;
    place-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    border: 1px solid black;
    gap: 2px;
    padding: 2px;

  }

  .sidebar {
    display: grid;
    grid-area: 1 / 1 / 3 / 3;
    grid-template: repeat(5, 1fr) / 1fr;

  }


.result-display {
    display: none;
    grid-area: 1 / 1 / 2 / 3;
    place-self: center;
    font-size: 28px;
}

  .form {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    grid-area: 1 / 1 / 6 / 2;
  }

  #player-one-label {
    grid-area: 1 / 1 / 2 / 2;
  }

  #player-one-input {
    grid-area: 2 / 1 / 3 / 2;
  }

  #player-two-label {
    grid-area: 3 / 1 / 4 / 2;
  }

  #player-two-input {
    grid-area: 4 / 1 / 5 / 2;
  }
  
  label {
   place-self: center;
   font-size: 28px;
    
  }
  input {
    align-self: start;
    justify-self: center;
    border: black solid 1px;
    height: 30px;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    border-color: #315659;
  }

#play-button {
  grid-area: 5 / 1 / 6 / 2;
  align-self: start;
  justify-self: center;
  border: solid 1px black;
  padding: 20px;
  width: 220px;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  background-color: #315659;
  color: white;
}

#play-again-button {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
  border: solid 1px black;
  padding: 20px;
  width: 220px;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  background-color: #315659;
  color: white;
}

